In [1]:
import numpy as np
import pandas as pd

In [2]:
ratings = pd.read_csv('C:/Users/karpo/Desktop/Презентации аналитика/python/ml-latest-small/ml-latest-small/ratings.csv')

In [3]:
ratings.groupby('movieId').count().sort_values('rating', ascending=False).head(1)

         userId  rating  timestamp
movieId
356         329     329        329

In [4]:
movie = pd.read_csv('C:/Users/karpo/Desktop/Презентации аналитика/python/ml-latest-small/ml-latest-small/movies.csv')

In [5]:
joined = ratings.merge(movie, on='movieId', how='left')

In [6]:
joined_rating = joined[(joined['rating']==5.0)]
joined_rating.groupby('movieId').count().sort_values('userId', ascending=False).head()

         userId  rating  timestamp  title  genres
movieId
318         153     153        153    153     153
296         123     123        123    123     123
356         116     116        116    116     116
2571        109     109        109    109     109
260         104     104        104    104     104