In [1]:
import numpy as np
import pandas as pd

In [2]:
power = pd.read_csv('C:/Users/karpo/Desktop/Презентации аналитика/python/Python_5_pandas/power.csv')

In [3]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [4]:
power[power['country'].str.contains('nia', case=False) ]['country'].unique()

array(['Romania', 'Lithuania', 'T.F.Yug.Rep. Macedonia', 'Armenia',
       'Estonia', 'Mauritania', 'New Caledonia', 'Slovenia',
       'United Rep. of Tanzania', 'Albania', 'Bosnia and Herzegovina'],
      dtype=object)

In [5]:
baltika = power[(power['country']=='Lithuania') | (power['country']=='Estonia') | (power['country']=='Latvia')]
baltika_category_4 = baltika[(baltika['category']==4)]
baltika_category_4_year_2005 = baltika_category_4[(baltika_category_4['year'] == 2005)]
baltika_category_4_year_2006 = baltika_category_4[(baltika_category_4['year'] == 2006)]
baltika_category_4_year_2007 = baltika_category_4[(baltika_category_4['year'] == 2007)]
baltika_category_4_year_2008 = baltika_category_4[(baltika_category_4['year'] == 2008)]
baltika_category_4_year_2009 = baltika_category_4[(baltika_category_4['year'] == 2009)]
baltika_category_4_year_2010 = baltika_category_4[(baltika_category_4['year'] == 2010)]

baltika_category_12 = baltika[(baltika['category']==12)]
baltika_category_12_year_2005 = baltika_category_12[(baltika_category_12['year']==2005)]
baltika_category_12_year_2006 = baltika_category_12[(baltika_category_12['year']==2006)]
baltika_category_12_year_2007 = baltika_category_12[(baltika_category_12['year']==2007)]
baltika_category_12_year_2008 = baltika_category_12[(baltika_category_12['year']==2008)]
baltika_category_12_year_2009 = baltika_category_12[(baltika_category_12['year']==2009)]
baltika_category_12_year_2010 = baltika_category_12[(baltika_category_12['year']==2010)]

baltika_category_21 = baltika[(baltika['category']==21)]
baltika_category_21_year_2005 = baltika_category_21[(baltika_category_21['year']==2005)]
baltika_category_21_year_2006 = baltika_category_21[(baltika_category_21['year']==2006)]
baltika_category_21_year_2007 = baltika_category_21[(baltika_category_21['year']==2007)]
baltika_category_21_year_2008 = baltika_category_21[(baltika_category_21['year']==2008)]
baltika_category_21_year_2009 = baltika_category_21[(baltika_category_21['year']==2009)]
baltika_category_21_year_2010 = baltika_category_21[(baltika_category_21['year']==2010)]

sum(baltika_category_4_year_2005.quantity)+sum(baltika_category_4_year_2006.quantity)+\
sum(baltika_category_4_year_2007.quantity)+sum(baltika_category_4_year_2008.quantity)+\
sum(baltika_category_4_year_2009.quantity)+sum(baltika_category_4_year_2010.quantity)+\
sum(baltika_category_12_year_2005.quantity)+sum(baltika_category_12_year_2006.quantity)+\
sum(baltika_category_12_year_2007.quantity)+sum(baltika_category_12_year_2008.quantity)+\
sum(baltika_category_12_year_2009.quantity)+sum(baltika_category_12_year_2010.quantity)+\
sum(baltika_category_21_year_2005.quantity)+sum(baltika_category_21_year_2006.quantity)+\
sum(baltika_category_21_year_2007.quantity)+sum(baltika_category_21_year_2008.quantity)+\
sum(baltika_category_21_year_2009.quantity)+sum(baltika_category_21_year_2010.quantity)

240481.0