In [0]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import  SVR
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

In [0]:
boston = pd.read_csv('homework.csv')

In [98]:
boston.head()

   ID     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0   1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1   2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2   4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
3   5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2
4   7  0.08829  12.5   7.87     0  ...  311     15.2  395.60  12.43  22.9

[5 rows x 15 columns]

In [0]:
boston_filtered = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat', 'medv']]
boston_f = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat', 'medv']]

In [0]:
sc = StandardScaler()
boston_filtered = sc.fit_transform(boston_filtered)

'''\
Привести данные к нормальному распределению.\
Среднее - 0.\
'''

In [0]:
boston_filtered = pd.DataFrame(boston_filtered, columns = boston_f.columns)

'''\
Сложить данные в pandas.\
'''

In [102]:
boston_filtered.head()

       crim        zn     indus  ...     black     lstat      medv
0 -0.456875  0.322906 -1.285631  ...  0.432990 -1.067772  0.134419
1 -0.454016 -0.472123 -0.604425  ...  0.432990 -0.478299 -0.127599
2 -0.453327 -0.472123 -1.304235  ...  0.406733 -1.356840  1.160655
3 -0.448330 -0.472123 -1.304235  ...  0.432990 -1.018177  1.466342
4 -0.445709  0.079980 -0.489936  ...  0.417953 -0.012106  0.014327

[5 rows x 14 columns]

In [0]:
X, y = boston_filtered[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']], boston_filtered['medv']

'''\
Х - данные на основании которых делается вывод.\
у - результат.\
'''

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

'''\
Разбить данные на данные для обучения и для теста.\
'''

In [105]:
X_train.head()

         crim        zn     indus  ...   ptratio     black     lstat
280  0.302501 -0.472123  0.974084  ...  0.815397 -2.998990  0.524937
166 -0.440359  0.852925 -0.910681  ... -0.860122  0.176323 -1.038015
272  1.151301 -0.472123  0.974084  ...  0.815397 -3.597456  1.448821
79  -0.439949 -0.472123 -0.183680  ... -0.301616 -0.241007  0.404492
221 -0.452644 -0.472123 -0.873473  ...  0.815397  0.346239 -0.816962

[5 rows x 13 columns]

In [0]:
linear = LinearRegression()

In [107]:
linear.fit(X_train, y_train)

'''\
Обучить\
'''

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [108]:
mean_squared_error(y_test, linear.predict(X_test))

0.318732379842

In [109]:
mean_absolute_error(y_test, linear.predict(X_test))

0.3869290133028207

In [110]:
r2_score(y_test, linear.predict(X_test))

0.6432614868013473

In [0]:
svr = SVR()

In [112]:
svr.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [113]:
mean_squared_error(y_test, svr.predict(X_test))

0.3232437344107524

In [114]:
mean_absolute_error(y_test, svr.predict(X_test))

0.30499739349667065

In [115]:
r2_score(y_test, svr.predict(X_test))

0.6382121914578167

In [0]:
DTR = DecisionTreeRegressor()

In [117]:
DTR.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [118]:
mean_squared_error(y_test, DTR.predict(X_test))

0.33641762341160325

In [119]:
mean_absolute_error(y_test, DTR.predict(X_test))

0.33045526160697286

In [120]:
r2_score(y_test, DTR.predict(X_test))

0.6234674279118685